.navbar {
	margin-bottom:40px;
	background-color:#dec5a4;
	text-align: center;
	font-weight: bold;

}

body {
    background-color: #a4cfde;
    padding:30px;
}

#avaleht{
	background-color:#a4cfde !important;
	padding:30px;
	display:block;
	overflow:hidden;
}

#vasak{
	width:60%;
	display: block;
	position: relative;
	float: left;
}

#parem{
	width:40%;
	display: block;
	position: relative;
	float: right;
}


h1{
	font-size:32px;
	line-height:32px;
}

h2{
	font-size:24px;
	line-height:32px;
}

#jalus{
	
	width: 100%;
	background-color:#dea8a4;
	text-align: center;
}

#jalus p{
	line-height: 40px;
	color:#fff;
}

#teenused dt dd{
    font-size: 18px;
    text-decoration: underline;
}